/* Overrides Bootstrap a tu paleta */
.btn-primary{
  --bs-btn-bg: #{$color-primario};
  --bs-btn-border-color: #{$color-primario};
  --bs-btn-hover-bg: #{$color-secundario};
  --bs-btn-hover-border-color: #{$color-secundario};
  --bs-btn-active-bg: #{$color-secundario};
  --bs-btn-active-border-color: #{$color-secundario};
  box-shadow: $shadow-soft;
  border-radius: $radius;
}
.btn-outline-primary{
  --bs-btn-color: #{$color-secundario};
  --bs-btn-border-color: #{$color-secundario};
  --bs-btn-hover-bg: #{$color-secundario};
  --bs-btn-hover-border-color: #{$color-secundario};
  --bs-btn-hover-color: #000;
  border-radius: $radius;
}
.btn{
  padding: .6rem 1rem;
  white-space: nowrap;
}

