// mixins y helpers
@mixin respond($bp) {
  @if $bp == mobile {
    @media (max-width: $break-mobile) { @content; }
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin transition($prop: all, $time: .25s, $e: ease) {
  transition: $prop $time $e;
}
