$violeta: #7b2cbf; // tono violeta

.btn-primary {
  background-color: $violeta !important;
  border-color: $violeta !important;
  color: #fff !important;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: darken($violeta, 10%) !important;
  border-color: darken($violeta, 10%) !important;
}

.btn-outline-light {
  color: $violeta !important;
  border-color: $violeta !important;

  &:hover {
    background-color: $violeta !important;
    color: #fff !important;
  }
}
